.input-card{
  width: 100%;
  max-width: 450px;
  height: 50px;
  background-color: #FFF;
}

#sinopse{
  margin-top: 20px;
  border: 1px solid #000;
}

section{
  overflow: auto;
  overflow-x: hidden;
  overflow-y:  50vh;
}
