.input-card{
  width: 100%;
  max-width: 450px;
  height: 50px;
  background-color: #FFF;
}

#sinopse{
  margin-top: 20px;
  border: 1px solid #000;
}

section{
  max-height: 80vh;
  overflow: 80vh;
  overflow-x: hidden;
  overflow-y:  auto;
}


.overflow-list{
  max-height: 300px;
  overflow-y: 300px;
  overflow: auto;
  overflow-x: hidden;
}
